.rodape{
    background-color: var(--cor-cabecalho);
}

.rodape__escrito{
    display: block;
    text-align: center;


}

.rodape__titulo{
    padding: 1em;
    width: 400;
    font-family: var(--font-principal);
    font-size: 20px;
    color: var(--cor-branco);

}

.rodape__paragrafo{
    color: var(--cor-branco-claro);
    padding: 0.5em;
    font-size: 14px;
    font-family: var(--font-segundaria);
}

.rodape__paragrafo-segundario{
    color: var(--cor-branco-claro);
    font-family: var(--font-segundaria);
    font-size: 12px;
    padding: 1em;
    text-decoration: underline; /*sublinhar a linha*/
}